<ion-header align="center">
  <ion-title> <b>App audio player</b> </ion-title>
  <ion-note
    ><br />
    by yuliankarapetkov</ion-note
  >
</ion-header>

<div>
  <audio
    #player
    src="https://emisorasdominicanas.online/alofoke-fm/"
  ></audio>

  <ion-toolbar color="dark" padding>
    <div class="ion-text-center">
      <ion-button (click)="play()" size="large" fill="clear" color="aqua">
        <ng-container *ngIf="isLoading; else loaded">Loading</ng-container>

        <ng-template #loaded>
          <!-- <ion-icon [name]="isPlaying ? 'pause' : 'play'">
                </ion-icon> -->
          {{ isPlaying ? 'pause' : 'play' }}
        </ng-template>
      </ion-button>
    </div>

    <ion-range
      min="0"
      [max]="duration"
      [value]="currentTime"
      (ionChange)="seek($event)"
      color="aqua"
    >
      <ion-label color="light" slot="start">{{ currentTime }}</ion-label>
      <ion-label color="light" slot="end">{{ duration }}</ion-label>
    </ion-range>
  </ion-toolbar>
</div>
